<div class="p-4">
    <mat-card *ngIf="!loading && quote" class="p-5">
        <p><b>ID:</b> {{ quote.id }}</p>
        <p><b>Cliente:</b> {{ quote.customerName }}</p>
        <p><b>Nombre de la mascota:</b> {{ quote.petName }}</p>
        <p><b>Teléfono del cliente:</b> {{ quote.customerPhone }}</p>
        <p><b>Tipo de servicio agendado:</b> {{ quote.appointmentType | appointmentTypeLabel }}</p>
        <p><b>Fecha y hora de la cita:</b> {{ quote.appointmentAt | date:'dd/MM/yyyy HH:mm' }}</p>
        <p *ngIf="quote.comment">
            <b>Comentario adcional:</b> {{ quote.comment }}
        </p>
    </mat-card>

    <mat-card *ngIf="!loading && !quote" class="p-5">
        No se encontró la cotización.
    </mat-card>
</div>