<div class="container-fluid p-0">
  <main class="home-page">
    <mat-toolbar color="primary" class="nav">
      <div class="container d-flex align-items-center">
        <img src="../../../assets/imgs/logo_vet.png" height="50px" alt="Logo Veterinaria Patitas" class="me-3" />
        <span>Veterinaria patitas</span>
        
        
      </div>
    </mat-toolbar>
    <header class="main-banner">

      <div class="banner-content text-center container">
        <div class="row h-100 d-flex align-items-center ">
          <div class="col-12 col-md-6">
            <h1 class="banner-content__title">Bienvenido a Veterinaria Patitas</h1>
            <p class="banner-content__subtitle">Cuidando a tus mascotas con amor y dedicación</p>
            <button mat-raised-button class="btn-modal-appoinment" (click)="openAppointmentModal()">
              Agendar cita
            </button>
          </div>
        </div>
      </div>
    </header>
    <section class="home-page__line">
      <div class="container">
        <h2 class="mb-5">Servicios</h2>
        <div class="row justify-content-center g-4 mt-5">
          <div class="col-12 col-md-4">
            <div class="card">
              <img src="../../../assets/imgs/servicio-1.jpg" class="card-img-top w-100" alt="Servicio 1">
              <div class="card-body">
                <h5 class="card-title">Consulta General</h5>
                <p class="card-text">Ofrecemos consultas generales para el cuidado de la salud de tus mascotas.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="card">
              <img src="../../../assets/imgs/servicio-2.jpg" class="card-img-top w-100" alt="Servicio 1">
              <div class="card-body">
                <h5 class="card-title">Vacunación</h5>
                <p class="card-text">Ofrecemos vacunación para prevenir enfermedades en tus mascotas.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="card">
              <img src="../../../assets/imgs/servicio-3.jpg" class="card-img-top w-100" alt="Servicio 1">
              <div class="card-body">
                <h5 class="card-title">Servicio de estética</h5>
                <p class="card-text">Ofrecemos servicios de estética para mantener a tus mascotas limpias y hermosas.
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="card">
              <img src="../../../assets/imgs/servicio-4.jpg" class="card-img-top w-100" alt="Servicio 1">
              <div class="card-body">
                <h5 class="card-title">Profilaxis dental</h5>
                <p class="card-text">Ofrecemos profilaxis dental para mantener a tus mascotas con una sonrisa saludable.
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="card">
              <img src="../../../assets/imgs/servicio-5.jpg" class="card-img-top w-100" alt="Servicio 1">
              <div class="card-body">
                <h5 class="card-title">Servicio de guarderia</h5>
                <p class="card-text">Ofrecemos servicio de guardería para que puedas dejar a tus mascotas seguras
                  mientras estás fuera.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container home-page__our-team ">

      <div class="row justify-content-center g-4 mt-5">
        <div class="col-12 col-md-6 text-center">
          <img src="../../../assets/imgs/vet-female.jpg" alt="Miembro del equipo 1" class="team-member-img mb-3 w-100">

        </div>

        <div class="col-12 col-md-6 text-center p-5">


          <h5>Médico Veterinario Ana Rodríguez</h5>
          <p>"Nuestra misión es cuidar a tus mascotas con amor y dedicación, entendemos que cada animal es único y
            merece el mejor cuidado posible..."</p>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row m-0 justify-content-between">
        <div class="col-12 col-md-4">
          <ul>
            <li><a href="/">Nosotros</a></li>
            <li><a href="/">Servicios</a></li>
            <li><a href="/">Farmacia</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-4">
          <ul>
            <li><a href="/">Sucursales</a></li>
            <li><a href="/">Servicio de guarderia</a></li>
            <li><a href="/">Tienda</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-4">
          <ul>
            <li><a href="/">Facturación</a></li>
            <li><a href="/">Atención a clientes</a></li>
            <li><a href="/">Contacto</a></li>
          </ul>
        </div>
        <div class="col-12 text-center py-4">
          <small>&copy; 2025 Veterinaria Patitas. Todos los derechos reservados.</small>
        </div>
      </div>
      </div>
    </footer>
  </main>

</div>